<div class="container-fluid" *ngIf="username">  
    <div class="row">
        <nav class="navbar navbar-color">
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <button class="btn btn-color d-grid mx-auto"><i class="fa fa-bars"></i></button>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                <h4 class="navbar-brand">Employee management service</h4> 
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                <h6 class="">Welcome, {{username}}</h6>
            </div>
        </nav>
    </div>   
</div>
    