/* You can add global styles to this file, and also import other style files */

body{
    background: radial-gradient(circle at center, white 0, #e1f4fc, #d5d8f7 100%);
}

.navbar-color{
    background: linear-gradient(to right, #a849f5, white);
    color: black;
}

.btn-common-color{
    color: black;
    border-color: #a849f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.btn-common-color:hover{
    color: black;    
    border-color: #a849f5;
    background: linear-gradient(to right, #a849f5, white);
}

.page-link{
    color: black;
    background-color: white;
}

.page-link:hover{
    color: black;
    background: linear-gradient(to right, #a849f5, white);
}

.pagination-active .page-link{
    color: white;
    background-color: #410077;
}

.pagination-active:hover .page-link{
    color: black;
    background-color: #410077;
}
